.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius:5%;
}
.logo img{
    width: 150px;
}
.nav-items ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none; 
    font-size: 1.2vw;
}
